{% extends 'base.html' %}
{% load static %}

{% block 'main' %}
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <h3>Apply for a Credit Card</h3>
            <hr>
            <p>
                Applying for a credit card is a simple process; but only after you have decided which credit card you
                want to purchase. Once you have made the comparison and decided on which type of credit card you want to
                go ahead with, you need to follow these steps:
            </p>
            <h4>Application Process:</h4>
            <ol>
                <li>Visit the official website of the bank or financial institution from which you want to apply for a
                    credit card.</li>
                <li>Look for the "Credit Cards" section on their website and click on the "Apply" button.</li>
                <li>Fill out the application form with your personal details, such as your occupation, mobile number,
                    monthly income, PIN code, etc.</li>
                <li>Select the specific credit card you are interested in and click on "Check Eligibility" to see if you
                    meet the requirements for that card.</li>
                <li>If you meet the eligibility criteria, proceed with the application process by providing your name,
                    email address, date of birth, and PAN (Permanent Account Number).</li>
                <li>Enter your residential address along with the PIN code.</li>
                <li>Provide details about your employment, including the company's name, address, PIN code, and landline
                    number.</li>
                <li>Verify your mobile number by entering the OTP (One-Time Password) sent to your phone.</li>
                <li>Once you have completed the online application process, a representative from the bank or NBFC
                    (Non-Banking Financial Company) will contact you to arrange a meeting to complete the physical
                    documentation process.</li>
                <li>A field agent will be sent to your suggested location to collect the required documents.</li>
                <li>After the necessary documentation is completed, your credit card application will be processed
                    further by the bank.</li>
            </ol>
            <h4>Documentation:</h4>
            <p>
                Please note that the specific steps and requirements may vary depending on the bank or financial
                institution you choose. It's always a good idea to carefully read and follow the instructions provided
                by the bank during the application process.
            </p>
        </div>
    </div>
</div>

{% endblock 'main' %}
