{% extends 'base.html' %}

{% load static %}
{% block 'main' %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 col-12"> <!-- Adjust column sizes based on your preference -->
            <!-- Your static data paragraph starts here -->
            <div class="text-justify">
                <h1>Current Account opening</h1>
                <hr>
                <p>
                    A Current Account is an account that is meant for businesses, professionals, trusts, associations,
                    societies, institutions, etc. It provides the account holder with a wide range of benefits,
                    including restriction-free deposits and withdrawals, a higher number of free cheques available per
                    month, convenient transfers and deposits in different branches, and even an overdraft facility. All
                    this makes a Current Account a must-have for traders, businessmen, institutions, and professionals.
                </p>
                <p>
                    Opening a Current Account is very simple. Many banks like OUR Bank have a provision for opening the
                    bank account online. Once the form is submitted, a customer care executive from the bank gets back
                    to the customer to complete all further formalities.
                </p>
                <h3>Documents required for opening a Current Account:</h3>
                <p>Here are the documents required for opening a Current Account:</p>
                <ul>
                    <li>Proof of identity of the proprietor/trader/professional/institution/association, etc. such as
                        the PAN card. Additional documents for individuals include voter ID, passport, driving licence.
                    </li>
                    <li>Proof of address for an individual: Telephone bill, electric bill.</li>
                    <li>
                        <strong>Proof of the existence of the business:</strong>
                        <ul>
                            <li>Registration and Licenses issued by the Municipal authorities. This document is vital
                                under the Bombay Shops & Establishment Act, 1948.</li>
                            <li>GST registration certificate with the number.</li>
                            <li>A registration certificate issued by Professional Tax authorities.</li>
                            <li>A business registration certificate issued by the respective State Government.</li>
                            <li>RBI (Reserve Bank of India) /SEBI (Securities and Exchange Board of India) registration
                                certificate.</li>
                            <li>Licences by FSSAI (Food Safety and Standards Authority of India).</li>
                            <li>An import-export licence issued by the Director General of Foreign Trade.</li>
                        </ul>
                    </li>
                    <!-- Additional document lists -->
                </ul>
                <p>
                    Once these documents are provided, the bank representative will complete the account opening
                    formalities and open a Current Account. OUR Bank has tailor-made Current Accounts for different
                    needs, with a simple account opening form. Once this form is filled up, and documents submitted, the
                    account is opened.
                </p>
                <p>
                    <strong>Looking to apply for an OUR Bank Current Account? please login
                </p>
                <p>
                    * The information provided in this article is generic in nature and for informational purposes only.
                    It is not a substitute for specific advice in your own circumstances.
                </p>
            </div>
        </div>
        <div class="col-lg-3 pt-0 pt-lg-3"></div>
    </div>
</div>
{% endblock 'main' %}