{% extends 'base.html' %}

{% load static %}
{% block 'main' %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-4">Create a Savings Account With Us</h1>
            <hr>
            <p class="lead">
                A savings account is a very common service offered by several banks globally. With a savings account,
                you can achieve goals like managing your wealth for the future or managing day-to-day expenses.
            </p>
            <h2>What Is a Savings Bank Account?</h2>
            <p>
                A savings account is a basic account in a bank where you can deposit your extra income while gaining
                interest on the same depending on the saving account interest rate. The interest earned gets credited
                automatically to your account every year on a quarterly basis.
            </p>
            <p>
                A savings account is very helpful to manage your finances effortlessly. To open a savings account is a
                simple task that merely takes a few minutes. Besides, most banks have the same procedure. If you are
                interested in opening a savings account, here we are with detailed steps for you.
            </p>
            <h3>You can open a savings bank account in two methods:</h3>
            <ul>
                <li>You can directly apply in person in the bank you desire. It is a simple way as you will get
                    seamlessly assisted by the bank employee, who is specifically dedicated to this job.</li>
                <li>Alternatively, and most conveniently, you can quickly apply online. Yes, this step is also very easy
                    and saves a lot of time. For opening a Savings Account online, all you need is a mobile number to
                    initiate the process. You just need to submit the application and attach documents online instead of
                    going to the bank yourself.</li>
            </ul>
            <h3>Here Is a Quick Guide On How To Open a Savings Account Online In OUR Bank of India:</h3>
            <p>Following are the pre-requisites for opening the account through online mode:</p>
            <ul>
                <li>Aadhaar card</li>
                <li>Mobile linked to Aadhaar for OTP</li>
                <li>PAN card</li>
                <li>Recent scanned image of photograph - Size Up to 1 Mb</li>
                <li>Scanned image of address proof of address (POA) - Size up to 1 Mb</li>
                <li>Scanned image of Proof of Identity - Size up to 1 Mb</li>
                <li>Signature scanned - Size up to 1 Mb</li>
            </ul>
            <p>Mobile to be carried in person to the branch for OTP verification while account opening.</p>
            <p>So are you ready??? Visit our corporate website OUR Bank of India Digital Banking → Self Service Banking
                → Online Account Opening → login and open your savings account online.</p>
            <p>Fill all the mandatory details and upload the document. On Saving the Application, a reference number is
                generated, and an SMS is sent to the mobile number entered in the Applicant Details column. After that
                System prompts Customer to submit the Application form. After submission of the Application, please
                visit the Branch with the Unique reference number and the KYC documents as mentioned in the online
                application in originals along with photocopies and two passport size recent photographs for
                verification & submission.</p>
            <p>Later, you just need to wait for the bank executives to complete the further official process of
                verifying the process.</p>
            <p>After the completion of verification, you need to make some initial deposition in your new savings
                account; the initial amount can vary depending on the minimum amount required to maintain in the savings
                account. After this process, you will become the account holder. In the case of a zero balance Savings
                Account, there is no need to deposit any amount.</p>
            <p>After making the deposit, the bank executives will provide you with a debit card and relevant documents.
                You can also apply for an online debit card.</p>
            <div class="text-center">
                <a href="/update/" class="btn btn-outline-info btn-lg">Open Savings Account</a>
            </div>
            <h3 class="mt-5">Conclusion</h3>
            <p>And that’s it! With these simple steps and a few documents, you can open a savings account seamlessly.
            </p>
        </div>
    </div>
</div>
{% endblock 'main' %}
